
<div class="row">
    <div class="col-4">
        <form [formGroup]="question">
            <div class="form-group">
                <label for="">Câu hỏi</label>
                <input type="text" class="form-control" formControlName="text">
            </div>
            <hr>
            <div formArrayName="answers" *ngFor="let a of answers.controls; index as i">
                <div [formGroupName]="i">
                    <div class="form-group">
                        <label>Câu {{ (i+1) }}</label>
                        <input type="text" class="form-control" formControlName="Text">
                        <div class="d-flex justify-content-between">
                            <div class="form-check" [formGroup]="question">
                                <input class="form-check-input" type="radio" formControlName="correct" name="correct" [value]="i" id="ans_{{i}}">
                                <label class="form-check-label" for="ans_{{i}}">
                                  Đáp án
                                </label>
                              </div>
                              <button class="btn" (click)="removeAns(i)">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-success btn-block" (click)="addAnswer()">Thêm câu trả lời</button>
        </form>
        <div class="form-group">
            <button (click)="addQuestion()" class="btn btn-primary">Thêm</button>
        </div>
    </div>
</div>
